<section>
    <div class="wrapper-all-order">
        <div class="all-order">
            <h2>All Orders</h2>
        </div>
        <br>
        <div class="table-1">
            <div>Order</div>
            <div>Address</div>
            <div>Total Price </div>
            <div>Time</div>
        </div>
        <div class="table-2">
            <div>
                <p id="r1">20220101all45order5th</p>
                <p>Vegetable Pizza - 1pcs</p>
            </div>
            <div>
                <p>No.124,St 201,Khan Toul Kok, Phnom Penh</p>
            </div>
            <div>
                <p>10$</p>
            </div>
            <div>
                <p>9:46 am</p>
            </div>
        </div>
    </div>
</section>